header {
    background-color: orange;
}

footer {
    background-color: orange;
}

#body {
    background-color: azure;
}

#click-here {
    color: blue;
}

.redirect {
    cursor: pointer;
}

#signUp_body {
    display: block;
}

#account_body {
    display: block;
}

#account_review_h3 {
    display: none;
}

#account_see_trip_request_from_travelers_div {
    display: none;
}

#new_trip_draft_body {
    display: none;
}

#trip_draft_posted_confirmation_body {
    display: none;
}

#account_post_new_trip_div{
    background-color: aqua;
}