header {
    background-color: orange;
}

footer {
    background-color: orange;
}

#body {
    background-color: azure;
}

#click-here {
    color: blue;
}

.redirect {
    cursor: pointer;
}

#signUp_body {
    display: block;
}

#account_body {
    display: none;
}